# Claude API
CLAUDE_API_KEY=your_claude_api_key

# Notion API
NOTION_API_KEY=your_notion_api_key
NOTION_DATABASE_ID=2e444bdd2c978030867de35f57b03845

# Gemini API
GEMINI_API_KEY=your_gemini_api_key

# imgbb API
IMGBB_API_KEY=your_imgbb_api_key
